pkg/
Gemfile.lock
Gemfile.local
spec/fixtures/
log/
junit/
.vagrant/
.bundle/
coverage/
.idea/
.metadata
*.iml
.*.sw[op]
.DS_Store
tmp/
vendor/

bin
import
.tmp
.rbenv-gemsets
.ruby-version
*.lock
vendor/
